.navbar{
    display:flex;
    width:100%;
    
    position: sticky;
    top:0;
    z-index: 5;
    
    background: rgba(255,255,255,0.9);
    border-bottom: 1px solid #ededed;
    align-items: center;
    
}
.navbar > h2{
    margin:0;
    
}
.navbar-list{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.navbar-left-list, .navbar-right-list{
    list-style: none;
    text-decoration: none;
    display:flex;
    padding:0;
    margin:0;
}
.navbar-left-list {
    margin-left:1rem;
}
.navbar-right-list{
    margin-right:1rem;
}

a{
    text-decoration: none;
}
li{
    margin:0.5rem;
}

