.information-container{
    width:100%;
    display:flex;
    justify-content: space-between;
    
}
.carousel{
   flex: 1 1 45%;

}
.explain{
    flex: 1 1 45%;

}
.explain-title{
    padding:.3rem;
    margin: .3rem;
    box-sizing: border-box;
    border-bottom: 1px solid #dfdede;
}
.explain-title > p{

}
.explain-price, .explain-total{
    padding:.3rem;
    margin:.3rem;
    border-bottom: 1px solid #dfdede;
}

dl{
    display:flex;
    margin:.3rem;
    
}
dt{
    flex: 0 0 30%;
    margin:.1rem;
}

.tab-menu{
    margin-top:1rem;
    list-style: none;
    width:100%;
    display:flex;
    
    
}
.tab-item{
    margin:0;
    flex: 1 1 33%;
    text-align: center;
    font-size: 1.2rem;
    border:1px solid #dfdede;
    border-bottom: 1px solid black;

}

.tab-item.act{
    border:1px solid black;
    border-bottom:0;

}

@media screen and (max-width:600px) {
    .information-container{
        flex-direction: column;
    }
    .carousel{
        flex: 1
    }
    .explain{
        flex: 1
    }
    
}